@import 'login';

.app{
  position: relative;
}

div {
  border: none; // 1px dashed #CCC;
}

body{
  padding-top: 50px;
}
.page-container{
  padding-top: 10px;
}

.view-type-switch{
  margin: 10px 0;
}


.get-started-card{
  &:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  }
}
